<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>
    body {
        padding-top: 1em;
    }
</style>
<div class="container">
    <h1 class="text-center">Branches</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Branch ID</th>
            <th>Name</th>
            <th>Country</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="branch : ${branches}">
            <td th:text="${branch.pk_branchID}">Branch ID</td>
            <td th:text="${branch.branchName}">Name</td>
            <td th:text="${branch.branchCountry}">Country</td>
            <td>
                <a th:href="@{/web/update/{id}(id=${branch.pk_branchID})}" class="btn btn-primary btn-sm">Edit</a>
                <form th:action="@{/web/delete/{id}(id=${branch.pk_branchID})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>