<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>
    body {
        padding-top: 1em;
    }
</style>
<div class="container-fluid">
    <h1 class="text-center">Branch Manager</h1>
    <h2 class="text-center">Error</h2>
    <p class="text-center">Ooops! Something went wrong :(</p>
    <div class="text-center">
        <a href="/home" class="btn btn-success">Go to Home</a>
    </div>
</div>
</body>
</html>